.list-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.item-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style: inside;
}

@media (max-width: 990px) {
  .list-container {
    text-align: center;
  }
  .item-list {
    padding: 0px;
  }
}
