.course-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filtred-courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #981e16;
  border-radius: 20px;
}

.filtred-courses h1 {
  text-align: left;
}
