.error-container {
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  left: 0px;
  right: 0px;
  transition: transform ease-in-out 0.35s, opacity 0.15s;
}

.error-container[data-visible="true"] {
  opacity: 1;
  transform: translateY(-20%);
}

.error-container[data-visible="false"] {
  opacity: 0;
  transform: translateY(0%);
}

.error-name {
  max-width: 400px;
  text-align: center;
  background-color: black;
  padding: 50px;
  border-radius: 20px;
  color: white;
}

@media (max-width: 990px) {
  .error-name {
    right: 30px;
    left: 20px;
    z-index: 99999;
  }
}
