.input-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-parent p {
  display: none;
}

.contact-summary {
  padding: 20px;
  text-align: left;
  display: grid;
  position: relative;
}

.contact-summary input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
}

form {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

textarea {
  padding: 10px;
  border-radius: 15px;
}

form button {
  padding: 10px;
  width: 200px;
  border-radius: 15px;
  background-color: #981e16;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

form button:hover {
  transform: scale(90%);
  background-color: black;
}

textarea {
  width: 100%;
}
.error {
  border-color: red;
  transition: background-color 15s;
  display: block;
}

.error-tag {
  position: absolute;
  bottom: -40px;
  left: 20px;
}
@media (max-width: 990px) {
  form {
    align-items: center;
  }
  .contact-summary {
    text-align: center;
  }
  form button {
    width: 80%;
  }
  .error-tag {
    position: absolute;
    bottom: -30px;
    left: 0px;
    right: 0px;
  }
}
