.software-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.selected-software h1 {
  text-align: left;
}

.bottom-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: top;
}

.images-container {
  display: flex;
  align-items: center;
}

.software-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.software-images img {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #981e16;
}

.anchor-button {
  padding: 10px;
  background-color: transparent;
  border-style: none;
  color: white;
  background-color: #981e16;

  border-radius: 20px;
  cursor: pointer;
  transition: background-color ease-in-out 0.15s, transform ease-out 0.15s;
}

.anchor-button:hover {
  background-color: black;
  transform: scale(90%);
}

.anchor-links {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.anchor-links a {
  color: white;
  width: 300px;
  text-align: center;
}

.anchor-links button {
  width: 300px;
}

.anchor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.anchor-icon {
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}

.anchor-icon img {
  width: 100%;
}

.error-container {
  text-align: center;
}

@media (max-width: 990px) {
  main {
    text-align: left;
  }
  .list-text {
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  .list-text input {
    max-width: 300px;
  }
  .software-list {
    justify-content: center;
  }
  .anchor-links {
    justify-content: center;
    align-items: center;
  }
  .bottom-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
